# Dependencies
node_modules/

# Production
dist/blog/
dist/about/
dist/**/*.html

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Editor folders
.vscode/
.cursor/
.idea/
.skills/

# Blog
md/_template.md
drafts/
# Local agent config
AGENTS.md
